<div id="about" class="gray-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title"><%= t('about.title') %></h1>
    <p class="section-description"><%= t('about.description') %></p>

    <img class="img-responsive img-center scrollimation fade-up" src="<%= image_path 'logo1.png' %>" alt="Cайт под ключ" />

    <div class="row">

      <div class="col-sm-4">

        <h2><%= t('about.block1.h2') %></h2>
        <p>
          <%= t('about.block1.p') %>
          <br/><a class="scrollto" href="#features"><%= t('about.lean_more') %></a>
        </p>
      </div>

      <div class="col-sm-4">

        <h2><%= t('about.block2.h2') %></h2>
        <p>
          <%= t('about.block2.p') %>
          <br/><a class="scrollto" href="#features"><%= t('about.lean_more') %></a>
        </p>
      </div>

      <div class="col-sm-4">

        <h2><%= t('about.block3.h2') %></h2>
        <p>
          <%= t('about.block3.p') %>
          <br/><a class="scrollto" href="#features"><%= t('about.lean_more') %></a>
        </p>

      </div>

    </div><!--End row-->


  </div><!--End container -->


</div><!--End Call to Action -->