<div id="choose-us" class="parallax-bg padding-top-bottom cta-image" data-parallax-background="<%= image_path 'light-abstract.jpg' %>" data-stellar-background-ratio=".7">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 scrollimation fade-right">

        <img class="img-responsive img-center" src="<%= image_path 'logo2.png' %>" alt="drupal, cms, ruby on rails, php, mysql, pg"/>

      </div>

      <div class="col-sm-6 scrollimation fade-left d1">

        <div class="big-title"><%= t('choose_us.title') %></div>
        <p><%= t('choose_us.p1') %></p>
        <p><%= t('choose_us.p2') %></p>

        <a class="btn btn-quattro scrollto" href="#portfolio"><i class="fa fa-arrow-down"></i><%= t('choose_us.see') %></a>

      </div>

    </div>

  </div>

</div>