<div id="features" class="white-bg padding-top-bottom">

  <div class="container features">

    <div class="section-title"><%= t('features.title') %></div>
    <p class="section-description"><%= t('features.description') %></p>

    <div class="row">

      <div class="col-sm-5 col-sm-offset-1 scrollimation fade-right">

        <div class="media">
          <div class="icon pull-right">
            <i class="media-object icon-1 fa fa-star-o"></i>
            <i class="media-object icon-2 fa fa-star"></i>
          </div>

          <div class="media-body text-right">
            <h4><%= t('features.item1.title') %></h4>
            <p><%= t('features.item1.content') %></p>
          </div>
        </div>

        <div class="media">
          <div class="icon pull-right">
            <i class="media-object icon-1 fa fa-mobile"></i>
            <i class="media-object icon-2 fa fa-desktop"></i>
          </div>

          <div class="media-body text-right">
            <h4><%= t('features.item2.title') %></h4>
            <p><%= t('features.item2.content') %></p>
          </div>
        </div>

        <div class="media">
          <div class="icon pull-right">
            <i class="media-object icon-1 fa fa-leaf"></i>
            <i class="media-object icon-2 fa fa-pencil"></i>
          </div>

          <div class="media-body text-right">
            <h4><%= t('features.item3.title') %></h4>
            <p><%= t('features.item3.content') %></p>
          </div>
        </div>

      </div>

      <div class="col-sm-5 scrollimation fade-left">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-heart-o"></i>
            <i class="media-object icon-2 fa fa-heart"></i>
          </div>

          <div class="media-body">
            <h4><%= t('features.item4.title') %></h4>
            <p><%= t('features.item4.content') %></p>
          </div>
        </div>

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-cog"></i>
            <i class="media-object icon-2 fa fa-cogs"></i>
          </div>

          <div class="media-body">
            <h4><%= t('features.item5.title') %></h4>
            <p><%= t('features.item5.content') %></p>
          </div>
        </div>

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-usd"></i>
            <i class="media-object icon-2 fa fa-eur"></i>
          </div>

          <div class="media-body">
            <h4><%= t('features.item6.title') %></h4>
            <p><%= t('features.item6.content') %></p>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center"><a class="btn btn-quattro scrollto" href="#choose-us"><%= t('features.why_choose_us') %></a></p>

  </div>

</div>