<div id="main-nav" class="navbar">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>

      <!-- ======= LOGO ========-->
      <a class="navbar-brand scrollto" href="#about">

        <img class="site-logo" src="<%= image_path 'logo-small1.png' %>" alt="Создание и разработка сайтов"/>
      </a>

    </div>

    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about" class="scrollto"><%= t('navigation.about') %></a>
        </li>
        <li>
          <a href="#portfolio" class="scrollto"><%= t('navigation.porfolio') %></a>
        </li>
        <li>
          <a href="#pricing" class="scrollto"><%= t('navigation.pricing') %></a>
        </li>
        <li>
          <a href="#contact" class="scrollto"><%= t('navigation.contact') %></a>
        </li>
      </ul>
    </div><!--End navbar-collapse -->

  </div><!--End container -->

</div><!--End main-nav -->