<div id="pricing" class="gray-bg padding-top-bottom">

  <div class="container">

    <div class="section-title"><%= t('pricing.title') %></div>
    <p class="section-description"><%= t('pricing.description') %></p>

    <div class="row pricing">

      <div class="col-lg-12">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center scrollimation fade-right">

          <div class="item">
            <b><%= t('pricing.plan1.title') %></b>
            <p class="price"><%= t('pricing.plan1.price') %></p>

            <p><%= t('pricing.plan1.description1') %></p>
            <p><%= t('pricing.plan1.description2') %></p>
            <p><%= t('pricing.plan1.description3') %></p>

            <a class="btn btn-quattro scrollto" href="#contact"><%= t('pricing.plan1.order_now') %></a>

          </div><!-- End Pricing Item -->

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center scrollimation fade-in">

          <div class="item">
            <b><%= t('pricing.plan2.title') %></b>
            <p class="price"><%= t('pricing.plan2.price') %></p>

            <p><%= t('pricing.plan2.description1') %></p>
            <p><%= t('pricing.plan2.description2') %></p>
            <p><%= t('pricing.plan2.description3') %></p>

            <a class="btn btn-quattro scrollto" href="#contact"><%= t('pricing.plan2.order_now') %></a>

          </div><!-- End Pricing Item -->

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center scrollimation fade-left">

          <div class="item">
            <b><%= t('pricing.plan3.title') %></b>
            <p class="price"><%= t('pricing.plan3.price') %></p>

            <p><%= t('pricing.plan3.description1') %></p>
            <p><%= t('pricing.plan3.description2') %></p>
            <p><%= t('pricing.plan3.description3') %></p>

            <a class="btn btn-quattro scrollto" href="#contact"><%= t('pricing.plan3.order_now') %></a>

          </div><!-- End Pricing Item -->

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center scrollimation fade-left">

          <div class="item">
            <b><%= t('pricing.plan4.title') %></b>
            <p class="price"><%= t('pricing.plan4.price') %></p>

            <p><%= t('pricing.plan4.description1') %></p>
            <p><%= t('pricing.plan4.description2') %></p>
            <p><%= t('pricing.plan4.description3') %></p>

            <a class="btn btn-quattro scrollto" href="#contact"><%= t('pricing.plan4.order_now') %></a>

          </div><!-- End Pricing Item -->

        </div>

      </div>

    </div><!-- End row -->

  </div><!-- End container -->

</div>