<!DOCTYPE html>
<html lang="ru-RU" class="no-js">
<head>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= t("meta.#{action_name}.title") %></title>
  <meta name="keywords" content="<%= t("meta.#{action_name}.keywords") %>">
  <meta name="description" content="<%= t("meta.#{action_name}.description") %>">

  <meta content="<%= t("meta.#{action_name}.title") %>" property="og:title">
  <meta content="<%= t("meta.#{action_name}.description") %>" property="og:description">

  <meta content="<%= image_path 'logo1-mini.png' %>" property="og:image">

  <link rel="shortcut icon" href="<%= image_path 'favicon.ico'%>">

  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'font-awesome' %>
  <%= stylesheet_link_tag 'flexslider' %>
  <%= stylesheet_link_tag 'styles' %>


  <!-- ==============================================
  Fonts
  =============================================== -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>

  <!-- ==============================================
  JS
  =============================================== -->

  <!--[if lt IE 9]>
  <%= javascript_include_tag 'respond.min' %>
  <![endif]-->

  <%= javascript_include_tag 'modernizr.min' %>

</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="400">
  <%= render 'share/loader' %>
  <%= yield %>
  <%= render 'share/footer' %>
  <%= render 'share/scripts' %>
</body>
</html>
